<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-list"></i> <strong>Crop Grade List</strong>
            <button class="btn btn-primary active pull-right" type="button" (click)="onCreate()">Add Crop Grade</button>
        </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">cropVarietyId</th>
                        <th scope="col">CropId</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let cropG of cropGrades; let i = index">
                        <td scope="row">{{i + 1}}</td>
                        <td>{{cropGrade.id}}</td>
                        <td>{{cropGrade.name}}</td>
                        <td>{{cropGrade.price}}</td>
                        <td>{{cropGrade.cropVarietyId}}</td>
                        <td>{{cropGrade.CropId}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
